{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Travel Wishlist</title>
        <link rel="stylesheet" href="https://unpkg.com/sakura.css/css/sakura.css" type="text/css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    </head>

    <h1>Where do you want to go?</h1>

    <body>
        <!--below is the template for body content-->
        {% block content %}
        {% endblock %}
    </body>

    <div>
        <p>A travel wishlist, built with Django</p>

        <a class="nav-link" href="{% url 'place_list' %}">Places you've yet to visit</a>
        <!--create link to visited locations-->
        <a class="nav-link" href="{% url 'places_visited' %}">Places you've visited</a>

    </div>

</html>