<!--below tells the wishlist template to go look for the base template
and include the text here-->
{% extends 'travel_wishlist/base.html' %}
<!--the block content tag takes all the below and inserts it into the base html-->
{% block content %}

<h2>Travel Wishlist</h2>

<!--action below is taking url place_list-->
<form method="POST" action="{% url 'place_list' %}">
    {% csrf_token %}
    {{ new_place_form }}
    <!--above creates the boxes for the user to type in a new place
    below creates a button to submit to database-->
    <button id="add-new-place" type="submit">Add</button>

</form>

{% for place in places %}

<!--built in for loop above, div conatiner for html content below-->
<div class="wishlist-place">
    <span class="place-name">{{ place.name }}</span>

    <form class="visited-form" method="POST" action="{% url 'place_was_visited' place.pk %}">
        {% csrf_token %}
        <button>Visited!</button>
    </form>

</div>

<!--below will only display if there are no places in place-->
{% empty %}

<p>You have no places in your wishlist.</p>

{% endfor %}

{% endblock %}
